@charset "UTF-8";

#wrap{
	width:400px;
	margin:0 auto;
}

.logo-image {
	width:200px;
	height:200px;
}

.contents {
	height:500px;
}

.join-box {
	width:300px;
}
.photo-box {
	height:150px;	
}
.text-box {
	height:250px;
}

.delete-box{
	height:400px;
}

#saveBtn {
	margin-top:12px;
}

#duplicateBtn {
	width:74px;
	height:30px;
	position:absolute;
	top:0px;
	bottom:0px;
	right:5px;
	font-size:12px;
	border-radius: 4px;
	background-color:#30b68a;
}

.check {
	font-size:11px;
}

#joinBtn {
	margin-top:90px;
	background-color:#30b68a;
}

#loginBtn {
	margin-top:50px;
	background-color:#30b68a;
}

a:link {
	color:navy;
	font-size:12px;
}
a:visited {
	color:#30b68a;
}

.plus-delete-btn {
	width:357px;
	height:32px;
}

.cover-img {
  width:350px;
  height: 300px;
  object-fit: cover;
}

.feed-bi {
	font-size:20px;
}

.input-bi {
	font-size:66px;
}

footer {
	font-size:13px;
}
